/* You can add global styles to this file, and also import other style files */
.container,
.container-fluid {
  margin-top: 40px;
}

body {
  background-color: #222 !important;
}

h1, label {
  color: #fff;
}